<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--数据库信息-->
  <Database type="Iwenli.Data.DatabaseConfig" file="Wl_Data.config">
    <ConnString>
      <AliSql1 IfEncrypt="false">Server=bds260192675.my3w.com;Database=bds260192675_db;UID=bds260192675;Password=1qaz2wsx;</AliSql1>
    </ConnString>
  </Database>

  <!--站点安全信息-->
  <Security checkurl="true" type="Iwenli.Web.Security.SecurityConfig">
    <UserType>Iwenli.Web.Authorization.User</UserType>
    <LoginUrl>/login.html</LoginUrl>
    <DefaultUrl>/index.html</DefaultUrl>
    <!--Cookie相关信息-->
    <Cookie>
      <ValidateIP>false</ValidateIP>
      <Key>ZAQ!xsw2CDE#vfr4</Key>
      <Name>WlRBACCookie</Name>
      <Timeout>60</Timeout>
      <Domain>iwenli.org</Domain>
      <RequireSSL>False</RequireSSL>
      <SlidingExpiration>True</SlidingExpiration>
      <CookiePath>/</CookiePath>
      <CookieMode>UseDeviceProfile</CookieMode>
    </Cookie>
    <!--需要授权的目录-->
    <AuthorizationPath>
      <Add value="/" />
    </AuthorizationPath>
    <!--开放的页面-->
    <OpenPath>
      <Add value="/favicon.ico" />
      <Add value="/Skin/" />
      <Add value="/Iwenli/Org/Passport/Ajax/SalesAjax.ajax"/>
    </OpenPath>

    <!--开放域名-->
    <OpenDomain>
      <Add value="passport.zyl.org" />
    </OpenDomain>

    <!--安全ＩＰ-->
    <SecurityIP>
      <!--内网-->
      <Add ip="127.0.0.1" mask="255.255.255.0" />
      <!--办公-->
      <Add ip="221.123.167.19" mask="255.255.255.240" />
    </SecurityIP>
  </Security>
  
  <!--站点配置信息-->
  <Web type="Iwenli.Web.Web">
    <Erorr404>
      <add path="*.htm" />
      <add path="*.aspx" />
    </Erorr404>
    
    <Site name="Passport" file="Skin/Passport.config">
      <host value="passport.zyl.org" />
    </Site>
  </Web>
  
  <!--站点日志记录配置信息-->
  <WebLog open="true" type="Iwenli.Web.WebLog.WebLogConfig">
    <DatabaseName>AliSql1</DatabaseName>
    <DataTableName>web_log</DataTableName>
    <PathInclude>
      <add name="" value=".htm" />
    </PathInclude>
    <PathExclude>
      <add name="" value=".jpg" />
    </PathExclude>
    <UserAgentExclude>
      <add name="" value="yisouspider" />
    </UserAgentExclude>
  </WebLog>
  
  <!--日志调试信息-->
  <log4net path="../web_log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="wl.Config">
      <level value="ALL" />
      <appender-ref ref="Iwenli.Config.Appender" />
    </logger>
  </log4net>
</configuration>