/Iwenli/obj
/Iwenli/bin
/Test1/bin
/Test1/obj
/Test2/obj
/Test2/bin
packages
/Iwenli.CodeGenerate/obj
/Iwenli.CodeGenerate/bin
/Iwenli.Mobile/obj
/Iwenli.Mobile/bin
/Iwenli.org/obj
/Iwenli.org/bin
/Iwenli.Org.Passport/obj
/Iwenli.Org.Passport/bin
/Iwenli.org.sitetest/obj
/Iwenli.org.sitetest/bin
/IwenliTests/obj
/IwenliTests/bin
/Iwenli.Push/obj
/Iwenli.Push/bin
/Iwenli.org.sitetest/log
*.log
/Iwenli.Org.Passport.Site/bin
/.vs/Iwenli/v15/Server/sqlite3
