html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100%; width: 100% }
body { font-family: "宋体","Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; color: #333; font-size: 12px; height: 100%; width: 100%; min-width: 1100px; }
* { box-sizing: border-box; }
input, textarea, button, a, select { outline: 0 }
body, h1, h2, h3, h4, h5, h6, div, p, ul, li, ol, dl, dd, fieldset, input, textarea { margin: 0; padding: 0; font-family: '微软雅黑'; list-style: none; }
h1, h2, h3, h4, h5, h6 { font-style: normal; font-weight: normal; font-size: 14px; }
ul, li, ol { list-style-type: none }
em, i { font-style: normal; }

a img, fieldset { border: 0 }
a { text-decoration: none; }
.clear { -zoom: 1; clear: both; overflow: hidden; }


/*Public 头部导航*/
.P_header { width: 100%; height: auto; padding: 15px 0px; }
.head_l { float: left; width: 50%; height: auto; text-align: left; }
.head_r { height: auto; float: right; position: relative; }
.head_r ul { width: 100%; margin-right: 0; }
.head_r ul li { display: inline-block; font-size: 18px; margin: 0 20px; padding: 10px 5px; text-align: center; margin-top: 10px; }
.head_r ul li.last { margin-right: 0; padding-right: 0; }
.head_r ul li a { color: #999; }
.head_r ul .current a { color: #09D317; }
.head_r ul li.underscore i { position: absolute; display: none; height: 1px; bottom: 0; background: #63d029; -webkit-transition: .5s; -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; transition: .5s; }
.head_r ul li.underscore { position: absolute; width: 100%; left: 0; bottom: 0; margin: 0; padding: 0; }

/*Public 底部*/
.P_footer { width: 100%; height: auto; padding: 20px 0; /*background: #e9f7ef;*/ }
.foot_l { float: left; width: 50%; height: auto; }
.foot_l span { float: left; width: 22px; color: #aaa; font-size: 15px;; }
.foot_l img { float: left; margin-right: 10px; width: 100px; }
.foot_l p { color: #999; font-size: 16px; margin-bottom: 8px; }
.foot_r { float: right; width: 50%; height: auto; text-align: left; font-size: 14px; }
.foot_r ul li { margin-top: 5px; }
.foot_r ul li a { color: #333; }
.foot_r ul li img { float: left; width: 15px; margin-right: 5px; }
.foot_r p { color: #999; font-size: 14px; margin-bottom: 10px; }
.container { width: 1100px; padding-right: 15px; padding-left: 15px; margin: 0 auto; margin-left: auto; position: relative; text-align: center; }
.copyright { margin-top: 20px; padding-top: 20px; border-top: solid 1px #ccc; }
