.top_banner{width:100%; height:20rem;  }
.top_banner .banner{width:100%; height:20rem; }
.top_banner .banner img{display:block; width:100%; height:100%;}
.top_banner .banner .banner_indicate{width:100%; height:1.5rem; position:absolute; bottom:0; z-index:1;}
.top_banner .banner .swiper-pagination{position:initial; margin:0 auto;}
.top_banner .banner .swiper-pagination .swiper-pagination-bullet{width:0.5rem; height:0.5rem; margin:0.625rem 0.25rem 0; background:#09D317;opacity:1;}
.top_banner .banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#fff;}
.shop_info{overflow:hidden;font-size:0.875rem;}
.shop_info li{background:#fff; padding:0 0.5rem 0; }
.shop_info .tit{ color:#333; padding-top:0.25rem; line-height:1.25rem; height:2.5rem;overflow:hidden; position:relative; padding-right:22%;font-size:0.875rem;}
.shop_info .tit i{ color:#909090;font-size:0.875rem;}
.shop_info .tit i.red{color:#fe3a0d;}
.shop_info .tit .toShare{position:absolute;right:0;top:0.25rem;width:20%;border-left:1px solid #dedede;text-align:center;font-size:0.5rem;}
.shop_info .price{ color:#909090;font-size:0.75rem; line-height:1.25rem; text-decoration:line-through #999 solid; -weblit-text-decoration:line-through #999 solid; -moz-text-decoration-color: #999;-moz-text-decoration-line:line-through;-moz-text-decoration-style:solid;}
.shop_info .discount{ height:1.5rem;}
.shop_info .discount p{ color:#fff;border-radius:0.125rem; float:left;height:1.5rem; line-height:1.5rem; font-size:0.75rem; background:#09D317; padding:0rem 0.25rem;}
.shop_info .vip_price{ height:2.25rem; line-height:2.25rem;color:#fe3a0d;}
.shop_info .vip_price em{color:#fe3a0d; font-size:1.25rem;}
.shop_info .vip_price .money{margin-left:0.25rem;display:inline; vertical-align:middle; color:#fe3a0d;background:#ffefe0;font-size:0.625rem;padding:0.2rem; border-radius:0.125rem;}
.shop_info .show_pro_bottom{margin-top:0.75rem;line-height:2.5rem;}
.shop_info .show_pro_bottom i{color:#909090;font-size:0.75rem;}
.vip_price .like_product{border: 1px solid #fd8100;border-radius: 0.25rem;line-height: 1rem;margin-top: 0.5rem;color: #fd8100; padding:0.25rem;font-size:0.75rem;}

.shop_info .rule{ border-top:1px solid #dedede; border-bottom:1px solid #dedede; padding:0.375rem 0;}
.shop_info .rule p{ height:1.5rem; line-height:1.5rem; color:#666;}
.shop_info .rule p a{color:#fff; float:right;height:1.25rem; border-radius:0.125rem; margin-right:0.25rem; margin-top:0.125rem; line-height:1.25rem; font-size:0.75rem; background:#09D317; padding:0rem 0.25rem;}
.shop_info .number{ margin-top:0.5rem; height:1.5rem;color:#909090; overflow:hidden;line-height:1.5rem;}
.shop_info .number span{float:left;}
.shop_info .ku{float:left;height:1.5rem;color:#666; line-height:1.5rem; margin-left:0.5rem;}
.shop_info .num_box{ float:left; border:1px solid #909090; border-radius:0.125rem; margin-left:0.25rem;}
.shop_info .num_box a{float:left; width:1.25rem; text-align:center; color:#666; font-size:1rem; height:1.125rem; line-height:1.125rem;}
.shop_info .num_box input{ float:left; border:none; border-right:1px solid #909090;border-left:1px solid #909090; height:1rem; line-height:1rem; background:#f0f0f0; text-align:center; width:2rem; -webkit-appearance: none;}
.shop_info .freight{ height:2.5rem;color:#909090; line-height:2.5rem;font-size:0.625rem;}
.shop_info .freight .postage{ display:inline; margin-left:0.25rem; color:#666;}
.operation_box{ height:2.75rem;}
.operation{box-shadow:0px 0px 0.25rem rgba(200,200,200,1); position:fixed; height:2.75rem;left:0; bottom:0; width:100%; background:rgba(240,240,240,0.95); z-index:99}
.operation .mycomment{ padding:0.5rem; overflow:hidden;}
.operation .mycomment .pic{ width:2.875rem; height:2.875rem; float:left; margin:0 0.5rem 0 0;}
.operation .mycomment .pic img{display:block; width:100%; height:100%; border-radius:50%;}
.operation .mycomment .name{ height:1.25rem; line-height:1.25rem;}
.operation .mycomment .name .right a{ float:left; margin-left:0.75rem; color:#999; font-size:1rem;}
.operation .mycomment .name .right a:last-child{font-size:1.125rem;}
.operation .mycomment .info{ line-height:1rem; height:2rem;overflow:hidden; font-size:0.75rem; color:#666;}
.operation .mycomment .no_login { color:#09D317}
.operation .mycomment .no_login a{ color:#09D317}
.operation ul{overflow:hidden; height:2.75rem; line-height:2.75rem; background:#606060; }
.operation ul li{float:left; width:16%;height:2.75rem; text-align:center;background:#ffffff;font-size:0.625rem;}

.operation.operation_fixed ul{display:flex;justify-content:space-between }
.operation.operation_fixed ul li{flex:1 1 auto; float:none;width:auto; }


.operation ul li.li_1 a{ padding:0.25rem 0; line-height:1.125rem;}
.operation ul li.li_1 .red{color:#ff0000}
.operation ul li.current{ background:#09D317;width:52%;font-size:0.875rem;}
.operation ul li.current a{border:none;color:#fff; }
.operation ul li.current.noclick{background:#909090;}
.operation ul li.current.noclick a{pointer-events: none;}

.operation ul li:last-child{ float:right;}
.operation ul li:first-child a{ border:none;}
.operation ul li a{display:block; border-left:1px solid #dedede; }
.edit_share{ width:100%; height:6.5rem; background:#fff; position:absolute; top:0;}
.edit_share #share_form{ padding:0 0.75rem 0 0.5rem;}
.edit_share #share_form .tit{ line-height:1.5rem; height:1.5rem; color:#666;font-size:0.625rem; }
.edit_share #share_form textarea{ width:92.5%; border:1px solid #dedede;font-size:0.625rem; color:#909090; box-shadow:2px 2px 3px #dedede inset; height:2rem; line-height:1rem; padding:0.25rem;}
.edit_share #share_form a{ color:#fff;border-radius:0.125rem; display:block; text-align:center; width:40%; margin:0.25rem auto 0; height:1.5rem; line-height:1.5rem; font-size:0.75rem; background:#09D317; padding:0rem 0.25rem;}

.Comment{background:#fff; margin-top:0.75rem; }
.Comment .comment_top{ border-bottom:1px solid #dedede; padding:0.25rem 0rem; line-height:1.25rem; position:relative;}
.Comment .comment_top i{position:absolute; right:0.5rem; color:#909090; display:block; top:0.75rem;}
.Comment .comment_top span{display:block; color:#666; padding:0.5rem; height:1rem; line-height:1rem; }
.Comment .comment_top span .rate{ color:#09D317;}
.Comment .comment_top strong{ padding:0 0.5rem; font-weight:normal; height:2rem; line-height:2rem;font-size:0.875rem; display:block; background:#f6f6f6; margin-bottom:0.25rem; margin-top:0.25rem;}
.comment_list{ border-bottom:1px solid #dedede;padding:0.5rem; }
.comment_list .top{ font-size:0.625rem; line-height:1rem; height:1rem; position:relative;}
.comment_list .top i{color:#09D317;}
.comment_list .top i.xing{height:1.125rem; }
.comment_list .top span{position:absolute; right:0; top:0; color:#909090;}
.comment_list .info{line-height:1.25rem;color:#666; padding-left:0.125rem;}
.may_like{}
.may_like .title{ background:#f6f6f6 ; height:2rem; line-height:2rem; padding-left:0.5rem;color:#666; font-size:0.875rem;}
.may_like #otherPro{overflow:hidden; padding:0 0.25rem; text-align:center;}
.may_like .like_list{width:5.5rem;float:left;margin-left:0.75rem;box-sizing:border-box;border:1px solid #dedede;background:#fff; padding:0; margin-top:0.5rem;}
.may_like .like_list:first-child{margin-left:0;}
.may_like .like_list .pic{width:100%;height:5.625rem;}
.may_like .like_list .pic img{display:block;width:100%;height:100%;}
.may_like .like_list .name{padding:0 0.25rem;line-height:1rem;height:2rem;overflow:hidden;}
.may_like .like_list .price{color:#fe3a0d;font-size:1rem;padding:0 0.25rem;}
.may_like .like_list .price em{font-size:0.625rem;}

.details_bottom{height:1rem; line-height:1rem; text-align:center;margin-bottom: 1rem;}
.details_bottom a{color:#666;}
.details_bottom a i{display:inline; padding-right:0.5rem;}
/*review*/
.review_nav{ background:#fff;border-bottom:1px solid #dedede; height:3rem;}
.review_nav ul{ overflow:hidden; padding-top:0.5rem;}
.review_nav ul li{float:left; width:25%; text-align:center; line-height:1rem; margin-top:0.125rem;color:#666;}
.review_nav ul li span{display:block;}
.review_nav ul li.current{color:#09D317;}
.review_list{overflow:hidden;}
.review_list .list_box{ background:#fff; margin-top:0.625rem;}
.review_list .list_box .tit{ padding:0 0.5rem; height:2rem; line-height:2rem; border-bottom:1px solid #dedede;}
.review_list .list_box .tit img{ display:block;width:1.5rem; height:1.5rem; border-radius:50%; margin:0.25rem 0.5rem 0 0; float:left;}
.review_list .list_box .tit .left{ font-size:0.875rem;}
.review_list .list_box .tit .time{ float:right; margin-right:0.25rem; color:#909090;}
.review_list .list_box .info{ padding:0.5rem 0.5rem; line-height:1rem; color:#999;}
.review_list .list_box .info i{color:#09D317;}
.review_list .list_box .info .xing{height:1.25rem; }
.review_list .list_box .info .content{ padding-left:0.125rem;}
.proReivew_5{background:url(/Skin/t/Img/Store/xing.jpg) no-repeat bottom left; background-size:3rem auto}
.proReivew_4{background:url(/Skin/t/Img/Store/xing.jpg) no-repeat left -3.75rem; background-size:3rem auto}
.proReivew_3{background:url(/Skin/t/Img/Store/xing.jpg) no-repeat center left; background-size:3rem auto}
.proReivew_2{background:url(/Skin/t/Img/Store/xing.jpg) no-repeat left -1.25rem; background-size:3rem auto}
.proReivew_1{background:url(/Skin/t/Img/Store/xing.jpg) no-repeat top left; background-size:3rem auto}


.review_list .list_box .bottom{border-top:1px solid #dedede; height:2rem; line-height:2rem;font-size:0.875rem;}
.review_list .list_box .bottom a{width:50%; float:left; text-align:center;color:#909090;}
.review_list .list_box .bottom a.reply i{ }
.review_list .list_box .bottom i{display:inline; padding:0 0.25rem;}
.review_list .list_box .bottom .like{border-right:1px solid #dedede; width:49.5%}
.review_list .list_box .bottom .like i{color:#09D317;}
/*order*/
.order_box{width:100%; overflow:hidden;}
.no_address{ height:5.125rem; text-align:center;}
.no_address i{ font-size:2.125rem;  margin-top:0.5rem;}
.no_address p{}
.order_address{ background:#67829f;color:#fff;}
.order_address ul{overflow:hidden; position:relative; padding:0 2rem;}
.order_address ul .address_icon{ height:auto; position:absolute; line-height:1.5rem; left:0.5rem; top:35%;-webkit-box-pack:center; -moz-box-pack:center;-webkit-box-align:center; -moz-box-align:center;}
.order_address ul .address_icon i{display:inline-block;vertical-align:middle; font-size:1.25rem;}
.order_address ul .name{ float:left; height:1.5rem; line-height:1.5rem; color:#fff; margin-right:1.5rem; margin-bottom:1rem} 
.order_address ul .address{ clear:both;line-height:1.5rem;color:#fff; margin-top:1rem;}
.order_address ul .address em{background:#ffa200; float:left; font-size:0.625rem; padding:0 0.25rem; color:#fff; border-radius:0.125rem; margin-right:0.25rem;}
.order_address ul .more{ height:auto; position:absolute; line-height:1.5rem; right:0.5rem; top:35%;-webkit-box-pack:center; -moz-box-pack:center;-webkit-box-align:center; -moz-box-align:center;}
.order_address ul .more i{display:inline-block;vertical-align:middle; font-size:1rem; }
.order_info{ background:#fff; padding:0.5rem;margin-top:0.75rem;}
.order_info ul{overflow:hidden; position:relative;background:#fff9f3;padding:0.5rem;}
.order_info ul .pic{ float:left; width:4.375rem; height:4.375rem; margin-right:0.5rem;}
.order_info ul .pic img{ display:block; width:100%; height:100%;}
.order_info ul .name{ font-size:0.75rem; line-height:0.875rem; height:1.75rem;overflow:hidden; padding-right:1rem;}
.order_info ul .name span{margin-left:0.5rem;}
.order_info ul .price{ line-height:1.25rem;color:#666; font-size:0.675rem;color:#fe3a0d;}
.order_info ul .price em{ font-size:0.825rem;}
.order_info ul .more{position:absolute; right:0.25rem; top:0; line-height:2.9375rem; color:#909090;}
.order_info ul .number{ margin-top:0.5rem; height:1.5rem;color:#909090;font-size:0.675rem}
.order_info ul .number span{float:left;}
.order_info ul .num_box{ float:left; border:1px solid #d7d7d7; border-radius:0.125rem; margin-left:0.25rem;}
.order_info ul .num_box a{float:left; width:1.25rem; text-align:center; color:#666; font-size:1rem; height:1.125rem; line-height:1.125rem;}
.order_info ul .num_box input{ float:left; border:none; border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7; height:1.125rem; line-height:1.125rem; background:#fff; text-align:center; width:2rem;}


.order_gui{ background:#fff; padding:0 0.5rem;color:#909090;}
.order_gui ul{overflow:hidden;}
.order_gui ul .number{ margin-top:0.5rem; height:2rem;color:#333;font-size:0.675rem;}
.order_gui ul .money{ margin-top:0.5rem;line-height:1rem;}
.order_gui ul .number span{line-height:1.5rem;}
.order_gui ul .number p{color:#909090;}
.order_gui ul .num_last{float:left;font-size:0.75rem;}
.order_gui ul .num_box{ float:left; background:#f5f5f5; border:1px solid #fff; border-radius:0.125rem; margin-left:0.25rem;float:right;}
.order_gui ul .num_box a{float:left; width:1.5rem; text-align:center; color:#666; font-size:1rem; height:1.375rem; line-height:1.375rem;}
.order_gui ul .num_box input{ background:#f5f5f5; float:left; border:none; border-right:1px solid #fff;border-left:1px solid #fff; height:1.375rem; line-height:1.375rem; text-align:center; width:2rem;}
.order_gui .tit{overflow:hidden; height:1.5rem; padding-bottom:0.25rem;}
.order_gui .tit span{float:left; line-height:1.5rem; height:1.5rem;}
#selProperty{float:left; display:block;height:1.5rem; padding:0 0.5rem;border:1px solid #09D317;}

.gongji{padding:0 0.5rem; line-height:2.5rem;background:#fff;}
.gongji p{border-top:1px solid #dedede; text-align:right;}
.gongji p span{color:#09D317;font-size:0.875rem;padding:0 0.125rem;}
.order_express{ background:#fff; padding:0.25rem 0.5rem;}
.order_express .postage{ line-height:1.5rem;color:#909090;}
.order_express .postage span{color:#09D317;}
.order_express h2{ height:1.5rem; line-height:1.75rem; font-size:0.75rem; color:#333; font-weight:normal;}
.order_express .radio_box{ width:100%; color:#666; height:1.75rem; line-height:1.75rem; padding:0 1.25rem; background:url(/Skin/t/Img/false.png) no-repeat left center; background-size:1rem 1rem;  }
.order_express .radio_box.chosen{background:url(/Skin/t/Img/true.png) no-repeat left center;  background-size:1rem 1rem; }
.order_express .radio_box input{display:none;}
.order_money{ margin-top:0.625rem; background:#fff; line-height:1.5rem; padding:0.25rem 0.75rem; color:#666}
.order_money span{float:right; color:#ffa200;}
.totalMoney_bottom{height:5rem;}
.order_totalmoney{ height:5rem; line-height:2.5rem; position:fixed;left:0; bottom:0;width:100%;}
.order_totalmoney .total_left{background:#fff;overflow:hidden;height:2.5rem; padding:0 0.5rem;}
.order_totalmoney .total_left .total_money{color:#fe3a0d;font-size:1rem;}
.order_totalmoney .total_right{background:#09D317;height:2.5rem; }
.order_totalmoney .total_right a{display:block;width:100%;height:100%;text-align:center;color:#fff;}
/*address*/
.bottom_btn .positive_button{ text-align:center; -webkit-appearance:none; width:92%; margin:0 auto; display:block; height:2.75rem; line-height:2.75rem; border:none; border-radius:0.25rem; background:#67829f;color:#fff; font-size:0.875rem;}
.new_address{height:1.75rem; line-height:1.75rem; padding:0 0.75rem; text-align:right; color:#666; font-size:0.625rem;}
#selectAddr{ overflow:hidden;}
#selectAddr .addrList{ background:#fff; margin-bottom:0.625rem; padding:0.5rem 0.75rem; overflow:hidden;}
#selectAddr .addrList .radio_box{ float:left; width:1.75rem; color:#666; height:2.5rem; line-height:1.75rem; background:url(/Skin/t/Img/Member/add_false.png) no-repeat left top; background-size:1.3125rem 1.3125rem;  }
#selectAddr .addrList .radio_box.current{background:url(/Skin/t/Img/Member/add_true.png) no-repeat left top;  background-size:1.3125rem 1.3125rem; }
#selectAddr .addrList .radio_box input{display:none;}
#selectAddr .addrList .name{ float:left; line-height:1.25rem; margin-right:0.75rem;}
#selectAddr .addrList .address{float:left; width:13.125rem;font-size:0.625rem; color:#909090; line-height:1rem;}
/*pay*/
.pay_info{ background:#fff; padding:0.75rem; margin-top:0.625rem}
.pay_info ul{overflow:hidden; position:relative;}
.pay_info ul .pic{ float:left; width:4rem; height:2.9375rem; margin-right:0.5rem;}
.pay_info ul .pic img{ display:block; width:100%; height:100%;}
.pay_info ul .name{ font-size:0.675rem; line-height:0.875rem;padding-right:1rem;}
.pay_info ul .name span{margin-left:0.5rem;}
.pay_info ul .price{ line-height:1.25rem;color:#666; font-size:0.675rem; margin-top:0.64rem;}
.pay_info ul .price em{color:#ffa200; font-size:1rem;}
.pay_info ul .more{position:absolute; right:0.25rem; top:0; line-height:2.9375rem; color:#909090;}

.pay_address{ background:#fff; padding:0.75rem;margin-top:0.625rem}
.pay_address ul{overflow:hidden; position:relative;}
.pay_address ul .name{ float:left; height:1.25rem; line-height:1.25rem; color:#666; margin-right:0.5rem;} 
.pay_address ul .name i{display:inline; margin-right:0.25rem;}
.pay_address ul .address{line-height:1.25rem;color:#666; margin-bottom:0.25rem;}
.pay_address ul .address em{background:#ffa200; float:left; font-size:0.625rem; padding:0 0.25rem; color:#fff; border-radius:0.125rem; margin-right:0.25rem;}
.pay_address ul .more{position:absolute; right:0.25rem; top:0; line-height:2.9375rem; color:#909090;}
.pay_address ul .tit{ float:left; width:2.25rem; color:#999; height:2.9375rem;}

.pay_money{ margin-top:0.625rem; background:#fff; line-height:1.5rem; padding:0.25rem 0.75rem; color:#999;}
.pay_money span{float:right; color:#ffa200;}
.pay_money em{float:right;}

.pay_method{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.5); display:none;top:0;left:0; z-index: 999;}
.pay_method .pay_show{position:absolute;bottom:0;left:0;background:#fff;width:100%; height: 65%;}

/*.pay_method .pay_show {
    position: absolute;
    bottom: 26%;
    left: 3%;
    background: #f6f6f6;
    width: 88%;
    height: 57%;
    border-radius: 0.5rem;
    padding: 3%;
}*/

.pay_method .pay_show .pay_tit{text-align:center;line-height:2.5rem; position:relative;}
.pay_method .pay_show .pay_tit a{position:absolute;right:0.75rem;}
.pay_method .pay_show .pay_tit i{font-size:1.25rem;color:#909090;}
.pay_method ul li{ border-top:1px solid #dedede; line-height:2rem;height:2rem; text-align:center; padding:0 1rem 0 0.75rem;}
.pay_method ul li i{color:#666785;}
.pay_method ul li a{ color:#909090; display:block; overflow:hidden;}
.pay_method ul li .left{ padding-right:0.5rem;font-size:1.25rem;}
.pay_method ul li .name{float:left;}
.pay_method ul li .money{ color:#ffa200;}
.pay_method ul li .money.none_pay{ color:#d0d0d0;}
.pay_method ul li.none_pay i{color:#c9c9c9;}





/*payAccount*/
.pay_order{overflow:hidden;}
.pay_order ul{margin-top:0.625rem; border-bottom:1px solid #dedede; border-top:1px solid #dedede; padding:0.25rem 0.5rem; background:#fff;}
.pay_order ul li{line-height:1.5rem; color:#666; font-size:0.75rem; overflow:hidden;}
.pay_order ul li span{ float:left; width:20%; color:#909090;}
.pay_order ul li p{ float:left; width:80%;}
.pay_order ul li em{color:#09D317;}

.pay_password{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.5); display:none;top:0;left:0; z-index: 999;}
.pay_password .pay_show{margin:50% auto 0; border:1px solid #dedede; padding:0.5rem; background:#fff; width:85%; border-radius:0.75rem;text-align:center;}
.pay_password .pay_show span{color:#666;line-height:2rem;border-bottom:1px solid #dedede; text-align:center;display:block;}
.pay_password .pay_show a{display:inline-block; height:1.75rem;line-height:1.75rem;background:#09D317;width:30%;margin:0.75rem 5%;color:#fff; border-radius:0.25rem; }
.pay_password .pay_show .input_text{ border:1px solid #909090; height:2rem; padding:0 0.25rem; margin-top:0.75rem; width:100%; box-sizing:border-box;}
.pay_show .pay_btn{position:fixed; bottom:0.5rem;left: 0; width:100%; height:2.25rem; line-height:2.25rem;text-align:center;}
.pay_show .pay_btn .btn{background:#09D317; color:#fff; display:block; width:80%; margin:0 auto; border-radius:0.125rem; border:none;}
.pay_password .pay_show .pay_tit{position:relative;}
.pay_password .pay_show .close_x{position:absolute;right:0;top:0;line-height:2rem;height:2rem;width:2rem;font-size:1.75rem;}

/*paysccess*/
/*.pay_success{ padding-top:3rem; text-align:center}
.pay_success p{ font-size:1rem;line-height:2rem; height:2rem;}
.pay_success p span{color:#e9470f; margin-left:0.5rem;}
.pay_icon{ color:#189000; font-size:4.375rem;}
.pay_success_btn{height:2.25rem; line-height:2.25rem;text-align:center; width:80%; margin:3rem auto 0;}
.pay_success_btn .btn1{background:#d5d5d5; color:#666; display:block; float:left; width:45%; border-radius:0.125rem; border:none;}
.pay_success_btn .btn2{background:#fe7f00; color:#fff; display:block; float:right; width:45%; border-radius:0.125rem; border:none;}*/

/*reply*/
.reply_list{ overflow:hidden; background:#f0f0f0;}
.reply_list .sofo{height:2rem; line-height:2rem;color:#d0d0d0; width:100%; text-align:center; background:url(/Skin/t/Img/Store/sofa.png) no-repeat center; margin-top:5rem; background-size:6.25rem 6.25rem; padding-top:6.25rem;}
.reply_list dl{background:#fff; margin-bottom:0.625rem; padding:0 0.75rem;}
.reply_list dl dt{ padding:0.25rem 0.5rem 0; height:2rem; line-height:2rem; border-bottom:1px solid #dedede;}
.reply_list dl dt img{ display:block;width:1.5rem; height:1.5rem; border-radius:50%; margin:0.25rem 0.25rem 0 0; float:left;}
.reply_list dl dd{color:#666; padding:0.25rem 0.25rem 0.25rem 0.5rem; line-height:1rem; }
.reply_list dl dd.time{ color:#999}
.reply_bottom{height:1.5rem;line-height:1.5rem; padding-bottom:3rem;text-align:center; color:#909090; background:#f0f0f0;}
.reply_totalmoney{ height:3rem; line-height:3rem; background:#454545; position:fixed;left:0; bottom:0;width:100%;}
.reply_totalmoney .left{ color:#fff; width:70%;}
.reply_totalmoney .left input{font-size:1rem; width:86%; margin:0.5rem auto; display:block; border:0; font-size:0.75rem;height:0.75rem; padding:0.625rem 2%; color:#999;}
.reply_totalmoney .right{background:#09D317;text-align:center; width:30%}
.reply_totalmoney .right a{ color:#fff; display:block;}

/*share*/
.share_box{ width:100%; overflow:hidden;}
.share_box .share_li{ position:relative;}
.share_box .share_li img{ display:block; width:100%;}
.share_box .share_li .info{position:absolute;top:0; left:0; width:100%;}
.share_box .share_li .info img{float:left; width:3.75rem; height:2.875rem; margin:1rem 0.5rem 1rem 1.25rem;}
.share_box .share_li .info p{float:left; width:12.75rem; margin-top:1rem; line-height:1rem;}
.share_box .share_li .choice_list{position:absolute;top:0; left:0; width:100%;}
.share_box .share_li .choice_list p{ margin:0rem 0 0rem 1.3125rem; font-size:0.6rem; line-height:0.8rem;padding:0.2rem 0.75rem 0.2rem 0;}
.share_box .share_li .choice_list ul{ margin:0 6.75%; overflow:hidden; height:6.8125rem;}
.share_box .share_li .choice_list ul li{float:left; width:23%; margin:0 5%;}
.share_box .share_li .choice_list ul li img{ width:auto;height:5.125rem; display:block; margin:0 auto;}
.share_box .share_li .choice_list ul li a{ font-size:0.675rem;}
.share_box .share_li .choice_list ul li span{color:#fff; display:block; background:#09D317; text-align:center; border-radius:0.125rem; height:1.25rem; line-height:1.25rem; margin-top:0.25rem}

.shop_share{ display:none; position:fixed; width:100%; top:0; left:0; z-index:999; background:rgba(0,0,0,0.5); height:100%;}
.shop_share em{ position:absolute; top:1.5rem; right:2rem; display: block;height: 1.4375rem;width: 1.4375rem; background:url(/Skin/t/Img/Share/false_x.png) no-repeat; background-size:cover; z-index:10000}
#shop_share_img{ height:90%;text-align:center; padding:5% 0; z-index:9999}
#shop_share_img img{ height:100%;}

/*appshare*/
.appshare_box{ width:100%; overflow:hidden;}
.appshare_box .share_li{ position:relative;}
.appshare_box .share_li img{ display:block; width:100%;}
.appshare_box .share_li .info{position:absolute;top:0; left:0; width:100%;}
.appshare_box .share_li .info img{float:left; width:3.75rem; width:3.75rem; margin:1rem 0.5rem 1rem 1.25rem;}
.appshare_box .share_li .info p{float:left; width:12.75rem; margin-top:1.25rem; line-height:1rem;}
.appshare_box .share_li .choice_list{position:absolute;top:2.5rem; left:0; width:100%;}
.appshare_box .share_li .choice_list ul{overflow:hidden; }
.appshare_box .share_li .choice_list ul li{float:left; width:17%; margin:0 8%; margin-bottom:0.5rem;}
.appshare_box .share_li .choice_list ul li img{ width:100%; display:block;}
.appshare_box .share_li .choice_list ul li a{ font-size:0.675rem;}
.appshare_box .share_li .choice_list ul li span{color:#666; display:block;text-align:center;  height:1.25rem; line-height:1.25rem;}

#proDetails img{ width:100%;display:block;}

.review_no{ font-size:0.625rem; color:#909090; text-align:center; display:block;  margin-top:3rem;}
.review_no i{font-size:3rem; line-height:4rem; color:#999}

.propertyLi{line-height:2.5rem;height:2.5rem;overflow:hidden;display:inline-block;vertical-align:middle;max-width :10rem;position:relative;    white-space: nowrap;}
.propertyLi i{position: absolute;right: 0; top:0; color:#909090;}

#property{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; background: rgba(0,0,0,0.5); }
.gui_box{ width:80%; background:#fff; position:absolute; right:-80%; top:0; height:82%; overflow:auto;}
.gui_box li{ margin-left:0.75rem;}
.gui_box .number{ margin-top:0.5rem; height:1.5rem;color:#909090;font-size:0.675rem; line-height:1.5rem;}
.gui_box .number span{float:left;}
.gui_box .num_box{ float:left; border:1px solid #d7d7d7; border-radius:0.125rem;height:1.5rem; margin-left:0.5rem;margin-right:0.5rem; overflow:hidden;}
.gui_box .num_box a{float:left; width:1.25rem; text-align:center; color:#666; font-size:1rem; height:100%;}
.gui_box .num_box input{-webkit-appearance:none; float:left; border:none; border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7; height:100%; background:#fff; text-align:center; width:2rem;}
.gui_box .tit{ margin-top:0.5rem; line-height:1.25rem; font-size:0.75rem;color:#333; padding-right:0.5rem;overflow:hidden;}
.gui_box .money{ color:#909090; font-size:0.675rem; line-height:2rem; height:2rem;margin-top:0.75rem;margin-bottom:0.25rem;}
.gui_box .money .proPrice{font-size:1rem; font-weight:bold; color:#09D317;}
.gui_box .xuan{ margin-top:0.5rem; overflow:hidden;clear:both; }
.gui_box .pro_img{width:12rem;margin-top:0.75rem; width:4.5rem;height:4.5rem;}
.gui_box .pic{float:left; margin-right:0.5rem;}
.gui_box .last_bor{padding-bottom:0.5rem;border-bottom:1px solid #dedede;margin-top:0.25rem;}
.gui_box li:last-child{padding-bottom:8.75rem;}
.xuan_name{ float: left; color: #909090;font-size: 0.675rem;line-height: 1.5rem; width:16%}

#property .gui_btn{height:3.35rem; text-align:center; background:#09D317; line-height:3.35rem; position:absolute; bottom:0; right:-80%; width:80%; padding:0; margin:0;}
#property .gui_btn a{display:block; color:#fff;}
#property .gui_btn.noclick{background:#909090;}
#property .gui_btn.noclick a{pointer-events: none;}

#property .heji{height:3.35rem; text-align:center; background:#f5f5f5; line-height:3.35rem; position:absolute; bottom:3.35rem; right:-80%; width:80%; padding:0; margin:0;}
#property .heji p{color:#333;font-size:0.75rem; padding:0 0.75rem;}
#property .heji #total_money{color:#fe3a0d;font-size:1rem;}


.gui_box .label_radio{display:block; line-height:1.5rem; font-size:0.675rem;float:left; margin-right:0.5rem; margin-bottom:0.5rem;}
.gui_box .label_radio .radio{}
.gui_box .radio{float:left; display:block;min-height:1.5rem; padding:0 0.5rem;  cursor:pointer; border:1px solid #ececec}
.gui_box .radio.current{ border:1px solid #09D317;}
.gui_box .radio input{display:none;}
.propertyCls{ float:left; width:84%;}

.property_hui{float:left;display:block;min-height:1.5rem;line-height:1.5rem; padding:0 0.5rem; border:1px solid #ececec;margin-right:0.5rem; margin-bottom:0.5rem;color:#999;background:#ececec;} 

.storeInfo{ background:#fff; margin:0.64rem 0; padding:0.32rem 0.64rem 0.5rem;overflow:hidden;}
.storeInfo .infoTit{ height:2rem; line-height:2rem; border-bottom:1px solid #ccc;}
.storeInfo ul { padding-top:0.32rem;}
.storeInfo ul li{height:1.5625rem; line-height:1.5625rem; }

.userPhone{ height:2rem; line-height:2rem; background:#fff; padding:0 0.64rem; margin:0.64rem 0; color:#909090;}

/*虚拟商品弹窗*/
.shade{ width:100%; height:100%; background:rgba(0,0,0,0.8); position:fixed; left:0; top:0; z-index:100;}
.tc_con{height:100%;overflow:hidden; box-sizing:border-box; background:#fff; width:100%; position:fixed; left:50%; top:50%; text-align:center; color:#666;z-index:199; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);}
.tuihuo .close{ text-align:right; font-size:1.2rem;}
.tuihuo .word{ background:#fff; border-radius:0.3125rem; padding:3.125rem 0.64rem 0.64rem;}
.tuihuo .word img{ display:block; width:6.5rem; height:5.40625rem; margin:0 auto 0.96rem;}
.tuihuo .word p{ height:1.875rem; line-height:1.875rem; color:#333; font-size:1rem; }
.tuihuo .word .promote{ color:#666; line-height:1.45rem; margin:0.32rem 0;}
.tuihuo .word a{ display:block; height:2.5rem; width:100%; background:#ff7900; color:#fff; line-height:2.5rem; text-align:center; border-radius:0.32rem;}
.tuihuo #form_address dl{line-height:1.5rem;padding:0 0.5rem; overflow:hidden; height:3rem; position:relative;}
.tuihuo #form_address dl dt{float:left; width:30%; text-align:left;}
.tuihuo #form_address dl dd{ display:inline-block; width:60%;}
.tuihuo #form_address dl dd input{box-sizing:border-box;display:block;width:100%;height:1.5rem; padding:0.25rem;border:1px solid #dedede;width:100%;}
.tuihuo #form_address input[name=btn_addAddress]{background:#09D317;display:block; margin:1rem auto 1rem;color:#fff;border-radius:0.125rem; height:1.5rem; width:50%;}
.tuihuo #form_address dl label.error{font-size:0.625rem; position:absolute;right:1.5rem; line-height:1.5rem;height:1.5rem; top:1.5rem;}


.user_phone{background:#fff;margin-top:0.75rem;}
.user_phone ul{padding:0 0.75rem;}
.user_phone li{height:2.5rem; border-bottom:1px solid #dedede}
.user_phone li.item1 input[type=text]{display:block;float:left;box-sizing:border-box;height:2.5rem; width:50%;}
.user_phone li.item1 input[name=btn_getCode]{display:block;float:left;box-sizing:border-box;height:2.5rem; width:50%; background:#09D317;color:#fff;}
.user_phone li.item2 input{box-sizing:border-box;height:2.5rem;display:block; width:100%;}
.user_phone li:last-of-type{border:none;}


/*店铺*/
.store_content_box{background:#fff;overflow:hidden; border-bottom:1px solid #dedede;padding:0.5rem; }
.content_box_left{width:100%;position:relative;}
.content_box_left .store_name{font-size:0.875rem;color:#000;line-height:2rem;height:2rem;overflow:hidden;}
.content_box_left .store_zg i{display:inline-block;vertical-align:middle;color:#09D317;padding-right: 0.25rem;}
.content_box_left .store_zg span{margin-right:0.5rem; color:#666;}
.content_box_left .is_collect{position:absolute;right:0.75rem;border:1px solid #09D317;border-radius:0.25rem;display:block;padding:0.25rem 0.5rem;color:#09D317;top:0.75rem;}
.content_box_left .is_collect.coll_ok{color:#fff;background:#09D317;}
.content_box_right{width:100%;border-top:1px solid #dedede;padding-top:0.25rem;margin-top:0.75rem;}
.content_box_right li{float:left;text-align:center;width:33%;}
.content_box_right li .num{font-size:0.875rem;color:#000;line-height:1.5rem;}

.store_nav{background:#fff;width:100%; margin-top:0.64rem;height:2.1875rem;line-height:2.1875rem;border-bottom:1px solid #dedede;}
.store_nav .product_class {overflow: hidden;}
.store_nav .product_class li{float:left;width:20%; text-align:center;overflow:hidden;height:2rem;}
.store_nav .product_class li.current{border-bottom:0.125rem #09D317 solid;color:#09D317;}

.pro_list{}
.pro_list ul{float:left;margin:0.65rem 0 0 0.65rem; background:#fff;width:9rem;}
.pro_list ul .pic{width:100%;height:9rem;}
.pro_list ul .pic img{display:block;width:100%;height:100%;}
.pro_list ul .tit{padding:0 0.325rem; line-height:1.25rem;height:2.5rem;overflow:hidden; text-align:justify;}
.pro_list ul .money{color:#fe2500;font-size:0.875rem;line-height:1.25rem;padding:0 0.325rem; padding-bottom:0.25rem;}
.pro_list ul .money em{font-size:0.625rem;padding:0 0.125rem;}
.pro_list ul .money span{color:#09D317;}

#list_show{text-align:center;margin-top:0.5rem;}


/*产品详情*/
.storeInfo_box_left{position:relative;}
.storeInfo_box_left .store_name{font-size:1rem;color:#000;line-height:2rem;}
.storeInfo_box_left .store_zg i{display:inline-block;vertical-align:middle;color:#09D317;padding-right: 0.25rem;}
.storeInfo_box_left .store_zg span{margin-right:0.5rem; color:#666;}
.storeInfo_box_left .btn{position:absolute;right:0;top:0.75rem;display:inline-block;border: 1px solid #fd8100;border-radius: 0.25rem;line-height: 1rem;color: #fd8100; padding:0.25rem;font-size:0.75rem;}

.details_two.two_Top .proimg_shop_list{position:fixed;width:100%;top:2.5rem;left: 0; z-index:999;overflow:auto;}

.proimg_shop_list{background:#fff;width:100%;}
.proimg_shop_list li{float:left;width:33.3%;text-align:center;font-size:0.875rem;}
.proimg_shop_list li span{display:inline-block;padding:0 0.25rem; height:2.125rem;line-height:2.5rem;}
.proimg_shop_list li a{color:#959595}
.proimg_shop_list li.current a{color:#09D317;}
.proimg_shop_list li.current span{border-bottom:0.125rem solid #09D317;}
.proimg_shop_list .shop_Header{display:none;}
.proimg_shop_list .shop_Header .shop_goBack a{color:#666;}
.proimg_shop_list .shop_Header .head_share{float:right; width:2.625rem; text-align:left; text-indent:0.5rem; color:#666; font-size:1rem;}
.proimg_shop_list .shop_Header .head_share a{color:#666;}
.proimg_shop_list ul{overflow:hidden;}

.proimg_shop_list.nav_pois .shop_Header{width:100%; height:2.5rem; line-height:2.5rem; overflow:hidden; background:#f6f7f8; display:block; }
.proimg_shop_list .shop_Header .shop_goBack{float:left; width:1.625rem; text-align:center; color:#646464; font-size:1rem;}
.proimg_shop_list .shop_title{position:absolute; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); text-align:center; font-size:1rem; color:#101010; font-weight:400;}

.cushowbr{position:relative;height:2.125rem; }

/*订单成功*/
.sccess_top{background:#ff8901;position:relative;text-align:center;}
.sccess_top:after{content:"";position:absolute;bottom:-0.75rem; display:block;width:100%;height:0.75rem;background:url(/Skin/t/Img/sccess.png) no-repeat;background-size:cover;}
.sccess_top p{color:#fff;font-size:1rem;}
.sccess_top p i{font-size:3.75rem;padding-top:1rem;}
.sccess_top a{display:inline-block;color:#e93d02;border:1px solid #e93d02;font-size:0.875rem;height:1.75rem;line-height:1.75rem;width:5rem;border-radius:0.25rem; margin:0.75rem 0;}
.close_sccess{position:absolute;right:0.5rem;top:0.25rem;color:#fff;}
.close_sccess i{font-size:1.5rem;}

.pay_success{margin-top:1.25rem; background:#fff;overflow:hidden; padding:0 0.5rem;}
.pay_success .tit{line-height:2.5rem;font-size:0.875rem;color:#333;}
.pay_success ul{background:#fff9f3;padding:0.5rem;overflow:hidden;position:relative;}
.pay_success ul .pic{ float:left; width:4.375rem; height:4.375rem; margin-right:0.5rem;}
.pay_success ul .pic img{ display:block; width:100%; height:100%;}
.pay_success ul .info{ font-size:0.75rem; line-height:0.875rem; height:1.75rem;overflow:hidden;text-align:justify}
.pay_success ul .info span{margin-left:0.5rem;}
.pay_success ul .money{ line-height:1.25rem;color:#666; font-size:0.675rem;color:#fe3a0d; margin-top:0.25rem;}
.pay_success ul .money em{ font-size:0.825rem;}
.pay_success ul .num{position:absolute;bottom:0;line-height:2rem;right:0.5rem;}

.pay_success .bottom_list{border-top:1px solid #dedede; margin-top:0.5rem;line-height:2.5rem;height:2.5rem;}
.pay_success .bottom_list a{display:block; text-align:center;}

.pay_success_btn{margin-top:0.75rem;background:#fff;overflow:hidden; padding:0 0.5rem;}
.pay_success_btn .tit{line-height:2.5rem;font-size:0.875rem;color:#666;}
.pay_success_btn ul{width:5.625rem;float:left;margin-right:0.8rem;box-sizing:border-box;border:1px solid #dedede;background:#fff; padding:0; margin-bottom:0.5rem;}
.pay_success_btn ul:nth-of-type(3n){margin-right:0;}
.pay_success_btn ul .pic{width:100%;height:5.625rem;}
.pay_success_btn ul .pic img{display:block;width:100%;height:100%;}
.pay_success_btn ul .info{padding:0 0.25rem;line-height:1rem;height:2rem;overflow:hidden;}
.pay_success_btn ul .money{color:#fe3a0d;font-size:1rem;padding:0 0.25rem;}
.pay_success_btn ul .money em{font-size:0.625rem;}

/*详情售后*/
.cus_service{overflow:auto; background:#fff; margin-bottom:2.75rem;position:fixed;height:100%;top:0;left:0;z-index:9999;width:100%;}
.cus_service dl.bor_top{border-top:1px solid #dedede;}
.cus_service dl.refund_false .icon{font-size:2rem;}
.cus_service dl{padding:0.75rem 0.5rem;overflow:hidden;}
.cus_service dl dt{float:left;width:2.6875rem;text-align:left;}
.cus_service dl dt i{font-size:2rem;display:inline;color:#5b97d6}
.cus_service dl dd{float:left;width:15.5rem;}
.cus_service dl dd h2{line-height:2rem;font-size:0.875rem;color:#333;}
.cus_service dl dd p{line-height:1rem;color:#666;}
.cus_service dl:first-of-type dt i{color:#09D317;}
.cus_service_title{width:100%; height:2.5rem; line-height:2.5rem; overflow:hidden; background:#f6f7f8;text-align:center;position:relative;}
.cus_service_title .close_cus{position:absolute;right:0.5rem;top:0;font-size:1.5rem;}

.pro_list ul .money .point{margin-left:0.5rem;display:inline; vertical-align:middle; color:#fe3a0d;background:#ffefe0;font-size:0.625rem;padding:0.25rem 0.25rem; border-radius:0.125rem;}

#proBottom{background:#fff;padding:0.75rem 0.5rem;}
#proBottom li span{margin-left: 0.5rem;color: #fff;background: #09D317;font-size: 0.625rem;padding: 0.25rem 0.25rem;border-radius: 0.125rem;}


#refundMsg .no_change{background:#fff1e2;border-top:1px solid #ffe2c2;border-bottom:1px solid #ffe2c2;height:2rem;line-height:2rem;padding:0 0.5rem;}
#refundMsg .no_change i{display:inline-block;padding-right:0.25rem;color:#09D317;}
#refundMsg .no_change span{display:inline-block;padding:0 0.25rem;color:#09D317;}

.order_ly{height:2.5rem;background:#fff;padding:0 0.5rem;margin-top:0.5rem;position:relative;}
.order_ly span{line-height:2.5rem;color:#333;float:left;width:4rem;}
.order_ly input{line-height:2.5rem;float:left;width:14rem;}
.order_ly i{position:absolute;right:0.5rem;top:0;line-height:2.5rem;font-size:0.75rem;display:none;}

#proDetails{background:#f6f7f8;overflow:hidden;word-wrap: break-word;}


.dc_explain{color: #909090;font-size: 0.675rem;line-height: 1.5rem;}
.dc_explain .dc_box{padding-right:0.5rem; padding-top:0.5rem; border-top:1px solid #efefef}
.dc_explain strong{font-weight:normal;color:#333;}

.dc_mode{color: #333;font-size: 0.675rem;line-height: 2.5rem;margin-top:0.75rem;border-top:1px solid #dedede}
.dc_mode p{float:right;color:#909090;margin-right:0.5rem;}
.dc_mode p span{color:#fe3a0d;}

.order_dc_explain{color: #909090;line-height: 1.25rem;background:#fff;padding: 0.25rem 0.5rem; border-top:1px solid #efefef}
.order_dc_explain strong{font-weight:normal;color:#333;}
.order_dc_explain span{color:#fe3a0d;}

.product_brand_list{background:#fff;padding:0.5rem;position:relative;margin-top:0.75rem;}
.product_brand_list:after{content:"\e603";display:block;position:absolute;right:0.5rem;top:0.5rem;font-family:"iconfont" !important;line-height:2.5rem;font-size:1rem;}
.product_brand_list dl{padding-left:3rem;position:relative;}
.product_brand_list dt{position:absolute;left:0;top:0;width:2.5rem;height:2.5rem;}
.product_brand_list dt img{display:block;width:100%;height:100%;}
.product_brand_list dd{line-height:1.25rem;font-size:0.625rem;}
.product_brand_list dd.tit{font-weight:bold;font-size:0.75rem;}