<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <script type="text/javascript" src="//cdn.txooo.com/public/html5/rem.js"></script>
    <link type="text/css" rel="stylesheet" href="/Skin/t/Css/Public.css" />
    <link type="text/css" rel="stylesheet" href="/Skin/t/Css/Team.css" />
    <script type="text/javascript" src="//cdn.txooo.com/public/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="//cdn.txooo.com/public/aui.artTemplate/artTemplate.js"></script>
    <script src="/Skin/t/Js/Public.js?v=1515"></script>
    <script src="/Skin/t/Js/Template.js"></script>
    <title>查看他人</title>
</head>
<body>
    <header class="P_Header">
        <a class="P_goBack" href="javascript:;" onclick="javascript: history.go(-1)"><i>&#xe602;</i></a>
        <div class="P_title">我的资产</div>
        <!--<div class="P_setting">设置备注</div>-->
        <div class="P_Header_info"><a href="list.html">查看</a></div>
    </header>
    <script type="text/html" id="attendTemp">
        <dt><span>最近关注</span>Ta的是</dt>
        <dd>
            <ul>
                {{each list as l}}
                <li title="{{l.NickName}}"><span class="pic"><a href="/homepage/index.html?uid={{l.UserId}}"><img src="{{l.HeadPic}},1,80,80,3"></a></span><span class="txt"><a href="/homepage/index.html?uid={{l.UserId}}">{{l.NickName}}</a></span></li>
                {{/each}}
            </ul>
        </dd>
    </script>
    <script type="text/html" id="postsListTemp">
        <dl class="page_list">
            <dt class="list_dt">
                <span class="tit"><i class="c_yellow left">&#xe621;</i><em>Ta的发布</em></span>
            </dt>
        </dl>
        
        <ul class="other_ul_info">
            <li class="pic"><img src="{{info.HeadPic}},1,80,80,3" onclick="window.location.href = '/Quan/othersPost.html?uId={{info.UserId}}'" /></li>
            <li class="name"><span class="name" onclick="window.location.href = '/Quan/othersPost.html?uId={{info.UserId}}'">{{info.NickName}}</span></li>
            <li class="clear" onclick="window.location.href = '/Quan/postInfo.html?id={{info.PostsId}}'">
                {{if info.ContentType==0}}
                <div class="p_info">
                    <a href="javascript:void(0);">{{#info.PostsContent | decode}}</a>
                </div>
                <div class="posts_imgs">
                    <a href="javascript:void(0);">
                        {{#info.PostsImgs | ImgsHelper}}
                    </a>
                </div>
                {{/if}}
                {{if info.ContentType==1}}
                <div class="p_info">
                    <a href="javascript:;" url="{{info.ContentHref}}" target="_blank" class="link_temp">
                        <em class="pic"><img src="{{info.PostsImgs}},1,80,80,3" /></em>
                        <span>{{#info.PostsContent | decode}}</span>
                    </a>
                </div>
                {{/if}}
            </li>
            <li class="bottom">
                <span class="time">{{info.AddTime | dateFormatNow:'yyyy-MM-dd'}}</span>
                <span class="comment"><i>&#xe642;</i>{{info.CommentCount}}</span>
                <span class="praise"><i>&#xe62d;</i>{{info.LikeCount}}</span>
                
            </li>
        </ul>

    </script>

    <section class="P_Top">
        <div class="head_portrait"><img class="img_b" src="" /></div>
        <div class="user_name"><span id="spUserName"></span><em id="sexShow" class=""></em><a href="javascript:void(0);"><i id="isMch" class="">&#xe659;<p>申请成为商户，即可点亮</p></i></a></div>
        <div class="user_address" style="display:none;"><span>北京市</span></div>
        <div class="have_make c_yellow">赚钱排名第<em class="ranking"><span id="spEstRank"></span></em>位</div>
        <div class="attention">
            <div class="already"><a href="javascript:void(0);" id="already" onclick="CancelAttend()">已关注</a></div>
            <div class="have_not"><a href="javascript:void(0);" id="have_not" onclick="AddAttend()">关注Ta</a></div>
        </div>
        <div class="user_info" style="display:none;">
            <span>个性签名：</span><p>今天出国留学网小编要为大家推荐的韩语美文是大
            家再熟悉不过了的《失恋33天》中的经典语</p>
        </div>
    </section>
    <section class="info_pages">
        <dl class="page_list">
            <dt class="list_dt">
                <span class="tit"><i class="c_yellow left">&#xe621;</i><em>Ta的资产</em></span>
            </dt>
            <dd class="list_dd dis_box">
                <!-- 皇冠 加类 gold(金)、silver(银)、copper(铜) 显示，不加隐藏 -->
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/TotalRank.html?type=1&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spTotalMoney"></span></em>元</span>
                        <span class="money_tit">已赚到<i class="medal">&#xe612;</i></span>
                    </a>
                </div>
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/TotalRank.html?type=3&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spTotalBrokerage"></span></em>元</span>
                        <span class="money_tit">佣金<i class="medal">&#xe612;</i></span>
                    </a>
                </div>
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/TotalRank.html?type=2&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spTotalBonus"></span></em>元</span>
                        <span class="money_tit">创业金<i class="medal">&#xe612;</i></span>
                    </a>
                </div>
            </dd>
            <dd class="list_dd dis_box">
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/RankMonth.html?type=1&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spUserMoneyMonth"></span></em>元</span>
                        <span class="money_tit">近一月赚钱<i class="moneymonthmeadl medal">&#xe612;</i></span>
                    </a>
                </div>
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/RankMonth.html?type=3&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spUserBrokerageMonth"></span></em>元</span>
                        <span class="money_tit">近一月佣金<i class="brokeragemonthmeadl medal">&#xe612;</i></span>
                    </a>
                </div>
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/RankMonth.html?type=2&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spUserBonusMonth"></span></em>元</span>
                        <span class="money_tit">近一月创业金<i class="bonusmonthmeadl medal">&#xe612;</i></span>
                    </a>
                </div>
            </dd>
        </dl>
        <dl class="page_list">
            <dt class="list_dt">
                <span class="tit"><i class="c_yellow left">&#xe62f;</i><em>Ta的V币</em></span>
            </dt>
            <dd class="list_dd dis_box">
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/TotalRank.html?type=4&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spTotalPoint"></span></em>个</span>
                        <span class="money_tit">总V币<em class="ranking"><span id="spUserPointRank"></span>名</em></span>
                    </a>
                </div>
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/RankMonth.html?type=4&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spUserPointMonth"></span></em>个</span>
                        <span class="money_tit">近一月获得</span>
                    </a>
                </div>
                <div class="list_dd_con box_flex_1">
                    <span class="money"><em><span id="spCanPoint"></span></em>个</span>
                    <span class="money_tit">可使用V币</span>
                </div>
            </dd>
        </dl>
        <dl class="page_list">
            <dt class="list_dt">
                <span class="tit"><i class="c_yellow left">&#xe60f;</i><em>Ta的团队</em></span>
                <!--<span class="info"><em class="left c_gray">查看团队成员</em><i class="left">&#xe603;</i></span>-->
            </dt>
            <dd class="list_dd dis_box">
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/TeamRank.html?type=3&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spTeamUsers"></span></em>人</span>
                        <span class="money_tit">总人数<em class="ranking"><span id="spTeamUsersRank"></span>名</em></span>
                    </a>
                </div>
                <div class="list_dd_con box_flex_1">
                    <a href="javascript:void(0);" onclick="window.location.href = '/Rank/TeamRank.html?type=4&UserId=' + getUrlParam('UserId')">
                        <span class="money"><em><span id="spTeamUsersMonth"></span></em>人</span>
                        <span class="money_tit">近一月新增</span>
                    </a>
                </div>
            </dd>
            <!--<dd class="list_dd dis_box">
                <div class="list_dd_con box_flex_1">
                    <span class="money"><em><span id="spUserMoney1"></span></em>人</span>
                    <span class="money_tit">第一级</span>
                </div>
                <div class="list_dd_con box_flex_1">
                    <span class="money"><em><span id="spUserMoney2"></span></em>人</span>
                    <span class="money_tit">第二级</span>
                </div>
                <div class="list_dd_con box_flex_1">
                    <span class="money"><em><span id="spUserMoney3"></span></em>人</span>
                    <span class="money_tit">第三级</span>
                </div>
            </dd>-->

        </dl>
    </section>
    <section class="postInfo">
        
    </section>
    <section class="fixed_bottom_box">
        <div class="btn_box">
            <div class="btn">
                <div class="con"><span id="spAttendHim"></span>人</div>
                <div class="tit">关注Ta的</div>
            </div>
            <div class="btn">
                <div class="con"><span id="spAttendHis"></span>人</div>
                <div class="tit">Ta关注的</div>
            </div>
        </div>
        <dl class="recently"></dl>
    </section>

    <div class="divSize"></div>

    <div class="sendMessage fixedBtn">
        <a href="javascript:UserChat(0)">发消息</a>
    </div>

    <script>
        function ToFloat(a) {
            var money = parseFloat(a);
            if (money >= 10000) {
                return parseFloat((money / 10000)).toFixed(1) + '万';
            } else {
                return (parseFloat(a));
            }
        }

        $('.P_title').text('Ta的主页');
        $('.P_Header_info').remove();
        var userId = getUrlParam("userId");
        var nickname = "";
        var head_img = "";
        $('.P_setting').attr('onclick', 'window.location.href="/Member/SetReamrk.html?UserId="+' + userId + '');
        //是否已关注
        if ("{$IsAuth}" != "false") {//未登录
            $.get("/Txooo/SalesV2/Member/Ajax/AttentionAjax.ajax/IsAttend?id=" + userId, function (data) {
                var obj = eval(data);
                if (obj.success == "true") {
                    $('.have_not').hide();
                    $('.already').show();
                }
            });
        } 

        function UserChat() {
            if (navigator.userAgent.toLowerCase().indexOf("txooo.app") > -1) {
                if (nickname != "")
                    window.plus.txservice.sendmessage([userId, nickname, head_img]);
            }
            else {
                window.location.href = '/chat/user/index.html?userid=' + userId;
            }
        }
        //load data
        //$.get("/Txooo/SalesV2/Rank/Ajax/RankAjax.ajax/GetOthersCurrentBonus?id=" + userId, function (data2) {
        //    if (data2 != "false") {
        //        //流水总和+plan_bonus
        //        $('#spTotalBonus').text(parseFloat(data2));
        //    }
        //});
        $.get("/Txooo/SalesV2/Member/Ajax/AttentionAjax.ajax/GetOthersEstate?id=" + userId, function (data) {
            var obj1 = eval(data);
            if (obj1.success != "false") {
                var obj = obj1[0];
                obj.head_pic = obj.head_pic == "" ? "/Skin/t/Img/no_pic.png" : obj.head_pic;
                $('.img_b').attr('src', obj.head_pic + ',1,80,80,3');
                $('#spUserName').text(obj.nick_name);
                if (obj.user_address != "") {
                    $(".user_address").html("<span>" + obj.user_address + "</span>");
                    $(".user_address").show();
                }
                if (obj.user_word != "") {
                    $(".user_info p").html(obj.user_word);
                    $(".user_info").show();
                }
                $("#sexShow").addClass("sex_" + obj.sex);
                nickname = obj.nick_name;
                head_img = obj.head_pic;
                $('#spTotalBonus').text(ToFloat(obj.total_bonus));
                $('#spTotalMoney').text(ToFloat(obj.total_assets));
                $('#spEstRank').text(obj.total_assets_rank);
                $('#spTotalBrokerage').text(ToFloat(obj.total_brokerage));
                $('#spUserMoneyMonth').text(ToFloat(obj.month_assets));
                var UserMoneyMonthRank = parseInt(obj.month_assets_rank);
                switch (UserMoneyMonthRank) {
                    case 1: $('.moneymonthmeadl').addClass('gold'); break;
                    case 2: $('.moneymonthmeadl').addClass('silver'); break;
                    case 3: $('.moneymonthmeadl').addClass('copper'); break;
                }
                $('#spUserBrokerageMonth').text(ToFloat(obj.month_brokerage));
                var UserBrokerageMonthRank = parseInt(obj.month_brokerage_rank);
                switch (UserBrokerageMonthRank) {
                    case 1: $('.brokeragemonthmeadl').addClass('gold'); break;
                    case 2: $('.brokeragemonthmeadl').addClass('silver'); break;
                    case 3: $('.brokeragemonthmeadl').addClass('copper'); break;
                }
                $('#spUserBonusMonth').text(ToFloat(obj.month_bonus));
                var UserBonusMonthRank = parseInt(obj.month_bonus_rank);
                switch (UserBonusMonthRank) {
                    case 1: $('.bonusmonthmeadl').addClass('gold'); break;
                    case 2: $('.bonusmonthmeadl').addClass('silver'); break;
                    case 3: $('.bonusmonthmeadl').addClass('copper'); break;
                }
                $('#spTotalPoint').text(ToFloat(obj.total_points));
                $('#spUserPointMonth').text(ToFloat(obj.month_points));
                $('#spCanPoint').text(ToFloat(obj.real_points));
                $('#spTeamUsers').text(obj.team_users);
                $('#spTeamUsersMonth').text(obj.team_newuser_month);
                $('#spUserPointRank').text(obj.total_points_rank);
                $('#spTeamUsersRank').text(obj.team_users_rank);
            }
        });

        $.get("/Txooo/SalesV2/Member/Ajax/AttentionAjax.ajax/GetTeamLevelCountById?id=" + userId, function (data) {
            if (data != "") {
                var obj = eval(data)[0];
                $('#spUserMoney1').text(obj.level1_users);
                $('#spUserMoney2').text(obj.level2_users);
                $('#spUserMoney3').text(obj.level3_users);
            }
        })

        $.get("/Txooo/SalesV2/Member/Ajax/AttentionAjax.ajax/OthersAttendsPeoples?id=" + userId, function (data) {
            if (data != "false") {
                var mine = data.split(',')[0];
                var me = data.split(',')[1];
                $('#spAttendHis').text(mine);
                $('#spAttendHim').text(me);
            }
        });

        $.get("/Txooo/SalesV2/Member/Ajax/AttentionAjax.ajax/GetRecentAttendHim?id=" + userId, function (data) {
            var obj = eval('(' + data + ')');
            if (obj.success != "false") {
                if (obj.length > 0) {
                    var list = { list: obj };
                    $(".recently").html(template("attendTemp", list));
                }
            } else {
                $(".recently").hide();
            }
        });

        //关注
        function AddAttend() {
            if ("{$IsAuth}" == "false") {
                window.location.href = "//passport.93390.cn/login.html?ReturnUrl=" + encodeURIComponent(window.location.href);
                return;
            }
            $('#have_not').removeAttr('onclick');
            $.get("/Txooo/SalesV2/Member/Ajax/AttentionAjax.ajax/AddAttend?attendUser=" + userId, function (data) {
                var obj = eval(data);
                if (obj.success == "false") {
                    //dialogAlart(obj.msg);
                    window.location.reload();
                } else {
                    //dialogAlart(obj.msg);
                    window.location.reload();
                }
            });
        }


        //取消关注
        function CancelAttend() {
            $('#already').removeAttr('onclick');
            $.get("/Txooo/SalesV2/Member/Ajax/AttentionAjax.ajax/CancelAttend?attendUser=" + userId, function (data) {
                var obj = eval(data);
                if (obj.success == "false") {
                    //dialogAlart(obj.msg);
                    window.location.reload();
                } else {
                    //dialogAlart(obj.msg);
                    window.location.reload();
                }
            });
        }
        LoadPostInfo();
        function LoadPostInfo() {
            $.post("/Txooo/SalesV2/Quan/Ajax/PostAjax.Ajax/GetPostByUserId", { pageIndex: 0, pageSize: 1, user_id: userId }, function (data) {
                var obj = eval("(" + data + ")");
                if (obj.count > 0) {
                    var list = eval(obj.list);
                    if (list.length > 0) {
                        //for (var i = 0; i < list.length; i++) {
                        //    list[i].LikeMsg = "赞";
                        //    $.each(list[i].PostGood, function (a, b) {
                        //        if (b.UserId == '{$UserId}') {
                        //            list[i].LikeMsg = "取消";
                        //        }
                        //    })
                        //    if (list[i].UserId == '{$UserId}') {
                        //        list[i].HeadLinkUrl = '/Quan/myPost.html?uId=' + list[i].UserId;
                        //    } else {
                        //        list[i].HeadLinkUrl = '/Quan/othersPost.html?uId=' + list[i].UserId;
                        //    }
                        //}
                        if (list[0].UserId == '{$UserId}') {
                                list[0].HeadLinkUrl = '/Quan/myPost.html?uId=' + list[0].UserId;
                            } else {
                                list[0].HeadLinkUrl = '/Quan/othersPost.html?uId=' + list[0].UserId;
                        }
                        list[0].LikeCount = list[0].PostGood.length;
                        list[0].CommentCount = list[0].PostComment.length;
                        $(".postInfo").append(template("postsListTemp", { info: list[0] }));
                    }

                }
            })
        }

        $.get('/Txooo/SalesV2/Shop/Ajax/ShopOpenAjax.ajax/GetUserMchId?UId=' + userId, function (data) {
            var obj = eval(data);
            if (obj.success == "true") {
                $("#isMch").addClass("light").parent().attr('href', '/Shop/MchStore.html?mchId=' + obj.msg);
            }
        })
        $(function () {
            $('.user_name i').click(function () {
                if ($(this).hasClass('light')) {
                    return;
                }
                $(this).children('p').toggle(200)
            })
        })
    </script>

 <!--WL_TMP{tmp=/Skin/t/Pub/T_Public.html}--> </body>
</html>
