<Site host="passport.iwenli.org" default="true" type="Iwenli.Web.Site">
  <Variable>
    <Add key="DefaultSkinPath" value="~/Skin/lsjmw/_Skin.config" />
  </Variable>
  <!--皮肤配置-->
  <DefaultSkin type="Iwenli.Web.Skin">
    <ImagePath>/Images/</ImagePath>
    <CssPath>/Css/</CssPath>
    <JsPath>/Js/</JsPath>
    <TemplatePath>/Skin/Passport/</TemplatePath>
  </DefaultSkin>

  <!--页面配置-->
  <DefaultPage type="Iwenli.Web.Htmx.HtmxPage">
    <Output way="None" time="600" location="Server" custom="host" header="" param="" />
    <Handler type="Iwenli.Web.Htmx.HtmxHandler1" />
    <Parsers>
      <add type="Iwenli.Web.Parse.TemplateParser" />
      <add type="Iwenli.Web.Parse.VariableParser" />
    </Parsers>
  </DefaultPage>

  <Page type="Txooo.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/login.htm</MappedRegexStr>
    <Handler type="Iwenli.org.Passport.Page.LoginHandler" />
  </Page>
  <!--<Page type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/(\d+).htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Member.Page.ShortUrlHandler" />
    <Variables>
      <add key="ShortId" value="$1"/>
    </Variables>
  </Page>


  <TxPage type="Txooo.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/wxlogin.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Passport.Page.WxLoginHandler" />
  </TxPage>
  <TxPage type="Txooo.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/bind.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Passport.Page.BindHandler" />
  </TxPage>
  <TxPage type="Txooo.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/Choice.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Passport.Page.FindPwdHandler" />
  </TxPage>-->

</Site>