<Site host="www.iwenli.org" default="true" type="Iwenli.Web.Site">
  <Variable>
    <Add key="DefaultSkinPath" value="~/Skin/lsjmw/_Skin.config" />
  </Variable>
  <!--皮肤配置-->
  <DefaultSkin type="Iwenli.Web.Skin">
    <ImagePath>/Images/</ImagePath>
    <CssPath>/Css/</CssPath>
    <JsPath>/Js/</JsPath>
    <TemplatePath>/Skin/t/</TemplatePath>
  </DefaultSkin>

  <!--页面配置-->
  <DefaultPage type="Iwenli.Web.Htmx.HtmxPage">
    <Output way="None" time="600" location="Server" custom="host" header="" param="" />
    <Handler type="Iwenli.Org.SiteDefaultPage" />
    <Parsers>
      <add type="Iwenli.Web.Parse.VariableParser" />
      <add type="Iwenli.Web.Parse.TemplateParser" />
      <add type="Iwenli.Org.Parse.CommonParser" />
    </Parsers>
  </DefaultPage>

  <Page type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/index.htm</MappedRegexStr>
    <PageTemplate>/index/index.html</PageTemplate>
  </Page>
  <Page type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/cart.htm</MappedRegexStr>
    <PageTemplate>/index/cart.html</PageTemplate>
  </Page>
</Site>