<Site host="www.iwenli.org" default="true" type="Iwenli.Web.Site">
  <Variable>
    <Add key="DefaultSkinPath" value="~/Skin/lsjmw/_Skin.config" />
  </Variable>
  <!--皮肤配置-->
  <DefaultSkin type="Iwenli.Web.Skin">
    <ImagePath>/Images/</ImagePath>
    <CssPath>/Css/</CssPath>
    <JsPath>/Js/</JsPath>
    <TemplatePath>/Skin/www/</TemplatePath>
  </DefaultSkin>

  <!--页面配置-->
  <DefaultPage type="Iwenli.Web.Htmx.HtmxPage">
    <Output way="None" time="600" location="Server" custom="host" header="" param="" />
    <Handler type="Iwenli.WWW.SiteDefaultPage" />
    <Parsers>
      <add type="Txooo.Web.Parse.VariableParser" />
      <add type="Txooo.Web.Parse.TemplateParser" />
      <add type="Txooo.Web.Parse.VariableParser" />
      <add type="Txooo.SalesV2.Parse.CommonParser" />
      <add type="Txooo.SalesV2.Parse.CommonParser" />
    </Parsers>
  </DefaultPage>


  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/(\d+).htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Member.Page.ShortUrlHandler" />
    <Variables>
      <add key="ShortId" value="$1"/>
    </Variables>
  </TxPage>

  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/index.htm</MappedRegexStr>
    <PageTemplate>/index/index.html</PageTemplate>
    <Handler type="Txooo.SalesV2.Member.Page.IndexShareHander" />
  </TxPage>

  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/member/BankPayPwd.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Member.Page.BankPayPwdHander" />
  </TxPage>

  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/homePage/info.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Member.Page.WxInfoUploadImgHander" />
  </TxPage>

  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/member/info.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Member.Page.WxInfoUploadImgHander" />
  </TxPage>

  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/order.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.ProPropertyInfoHandler" />
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop.htm</MappedRegexStr>
    <PageTemplate>/shop_2/details.html</PageTemplate>
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/details.htm</MappedRegexStr>
    <PageTemplate>/shop_2/details.html</PageTemplate>
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/Preview.htm</MappedRegexStr>
    <PageTemplate>/shop_2/preview.html</PageTemplate>
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/share.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.ShareProductHandler" />
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/appShare.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.ShareProductHandler" />
  </TxPage>

  <!--<TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/pay.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.PayHandler" />
  </TxPage>-->
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/payAccount.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.PayHandler" />
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/QrCodePay.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.QrCodePayHandler" />
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/shareOrder.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.ShareOrderHandler" />
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/nav.htm</MappedRegexStr>
    <Handler type="Txooo.SalesV2.Shop.Page.WebNavHandler" />
  </TxPage>
  <TxPage type="Iwenli.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/shop/review.htm</MappedRegexStr>
    <PageTemplate>/shop_2/review.html</PageTemplate>
  </TxPage>

</Site>