<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
  
  web系统配置参考Test1
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <globalization fileEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="DebugModule" type="Iwenli.Web.Module.DebugModule" preCondition=""/>
      <add name="SecurityModule" type="Iwenli.Web.Module.SecurityModule"/>
      <add name="HtmxModule" type="Iwenli.Web.Module.HtmxModule" preCondition=""/>
      <add name="WebLogModule" type="Iwenli.Web.Module.WebLogModule" preCondition=""/>
    </modules>
    <handlers>
      <add name="Wl-Html" path="*.html" verb="*" type="Iwenli.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Wl-Htmx" path="*.htmx" verb="*" type="Iwenli.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Wl-Htme" path="*.htme" verb="*" type="Iwenli.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Wl-Htms" path="*.htms" verb="*" type="Iwenli.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Wl-Htmd" path="*.htmd" verb="*" type="Iwenli.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Wl-Htmn" path="*.htmn" verb="*" type="Iwenli.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Wl-Htmc" path="*.htmc" verb="*" type="Iwenli.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>

      <add name="Wl-Ajax" path="*.ajax" verb="*" type="Iwenli.Org.SiteAjaxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />

      <!--Mobile配置（微信Api等）-->
      <!--<add name="Tx-Msg" path="*.msg" verb="*" type="Iwenli.Mobile.Msgx.MessageFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Tx-Message" path="*.message" verb="*" type="Iwenli.Mobile.Msgx.MessageFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Tx-Qr" path="QrService.ashx" verb="*" type="Iwenli.Mobile.Wifi.QrService" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
      <add name="Tx-AliServiceWindow" path="aligateway.aspx" verb="*" type="Iwenli.Mobile.Msgx.AliHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>-->
    </handlers>
    <defaultDocument>
      <files>
        <add value="Main.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>