<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>店铺资讯详情</title>
    <!--WL_TMP{tmp=/Skin/t/Pub/app_publiccss.html}-->
    <link href="/Skin/t/Css/sui/index.css" rel="stylesheet" />
</head>
<body>
    <div class="page-group">
        <div id="page-shop-mchnews" class="page">
            <header class="bar bar-nav bar_ff8201" style="display:none">
                <a class="icon icon-left pull-left click_back" href="/index.html"></a>
                <h1 class="title">店铺资讯详情</h1>
            </header>
            <!--返回顶部-->
            <section class="back-Top">
                <a class="print_top"><i>&#xe657;</i></a>
            </section>
            <nav class="bar bar-tab" style="display:none">
                <div class="row">
                    <div class="col-50"><input type="text" class="download_app" readonly="readonly" placeholder="我要写评论" /></div>
                    <div class="col-50"><div>本文已影响<span class="browseUserCount"></span>人</div></div>
                </div>
            </nav>
            <div class="content">
                <input id="news_id" type="hidden" value="{$U_QUERY_NEWSID}" />
                <input id="user_id" type="hidden" />
                <!--资讯内容-->
                <div class="news_detail"></div>
                <!--资讯评论-->
                <div class="news_bbs">
                    <div class="content_title">热门评论</div>
                    <div class="list"></div>
                    <a class="app new_bbs_more" href="/bbs/index.html?newsid={$U_QUERY_NEWSID}&typename=mchnews">查看全部评论 ></a>
                </div>
                <!--相关推荐阅读-->
                <div class="related_news">
                    <div class="content_title">相关推荐阅读</div>
                    <div class="list"></div>
                </div>
                <!--店铺热卖-->
                <div class="hot_shop products-con infinite-scroll">
                    <div class="content_title">店铺热卖</div>
                    <ul class="list hot_list" style="overflow:hidden;"></ul>
                    <div class="infinite-scroll-preloader">
                        <div class="preloader">
                        </div>
                    </div>
                </div>
            </div>
            <!--资讯内容模板-->
            <script type="text/html" id="news_data_temp">
                <ul>
                    <li class="news_title">{{NewsTitle}}</li>
                    <li class="news_source"><span>来源：买客</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>作者：{{UserNickName}}</span><span class="news_time">{{CheckTime | dateFormat:'yyyy年 MM月 dd日'}}</span></li>
                    <li class="img_text_details">{{#NewsContent}}</li>
                    <li class="news_likes new_like_{{if OpenReward==true}}true{{/if}}{{if OpenReward==false}}false{{/if}}">
                        {{if OpenReward==true}}
                        <span class="btn reward_btn">
                            <i class="nocolor">&#xe60b;</i>
                            <span>打赏</span>
                        </span>
                        {{/if}}
                        <span class="btn like_btn  is_like_click is_like_{{IsLike | newsClickLike:NewsId}}" data-like="{{IsLike | newsClickLike:NewsId}}">
                            <i class="nocolor">&#xe9d5;</i>
                            <span>{{LikeCount}}</span>
                        </span>
                        {{if IsApp == true}}
                        <a class="news_report">举报</a>
                        {{/if}}
                    </li>
                    <li class="reward_list"></li>
                    <li class="news_state">免责声明：以上内容，版权归原作者所有，如有侵犯原创版权请告知，我们将尽快删除相关内容。</li>
                </ul>
            </script>
            <!--打赏头像列表横排-->
            <script type="text/html" id="reward_list_temp">
                <div class="like_img">
                    <a href="#" id="btn_reward_list" class="list">
                        <ul>
                            {{each list as value}}
                            <li><img src="{{value.UserHeadPic | headPic}}" /></li>
                            {{/each}}
                            <li class="rewardCount">已打赏<span>{{count}}</span>人</li>
                        </ul>
                    </a>
                </div>
            </script>
            <!--评论-->
            <script type="text/html" id="bbs_temp">
                {{each list as value}}
                <dl>
                    <dt class="other_user" data-uid="{{value.UserId}}"><img src="{{value.UserHeadPic | headPic}}" /></dt>
                    <dd class="list_name"><a class="other_user external" data-uid="{{value.UserId}}" href="/homepage/index.html?uid={{value.UserId}}">{{value.UserNikeName}}<em>{{value.AddTime | dateFormat:'yyyy-MM-dd hh:mm','diy'}}</em></a><span class="right is_like_click is_like_{{value.IsLike | bbsClickLike:value.BbsId}}" data-like="{{value.IsLike | bbsClickLike:value.BbsId}}" data-bbsid="{{value.BbsId}}"><i class="nocolor">&#xe9d5;</i><i class="color">&#xe9d4;</i><span>{{value.LikeCount}}</span></span></dd>
                    <dd class="list_content"><a class="bbs_detailsadd" data-bbsid="{{value.BbsId}}" data-nickname="{{value.UserNikeName}}" data-reviewid="0" href="/bbs/details.html?bbsid={{value.BbsId}}">{{value.ContentText | replaceBrContent}}</a></dd>
                    <dd class="list_reply">
                        <ul>
                            {{each value.ReviewList as v}}
                            <li>
                                <a class="other_user external" data-uid="{{v.UserId}}" href="/homepage/index.html?uid={{v.UserId}}">{{v.UserNikeName}}</a>
                                {{if v.ReviewBbsId>0}}<em>回复</em><a class="external" href="/homepage/index.html?uid={{v.ReviewUserId}}">{{v.ReviewNikeName}}</a>{{/if}}：
                                <a href="/bbs/details.html?bbsid={{value.BbsId}}" class="info bbs_detailsadd" data-bbsid="{{value.BbsId}}" data-nickname="{{v.UserNikeName}}" data-reviewid="{{v.BbsId}}">{{v.ContentText | replaceBrContent}}</a>
                            </li>
                            {{/each}}
                            {{if value.ReviewList.length==3}}
                            <li class="more"><a href="/bbs/details.html?bbsid={{value.BbsId}}" class="bbs_details" data-bbsid="{{value.BbsId}}">查看全部回复 ></a></li>{{/if}}
                        </ul>
                    </dd>
                </dl>
                {{/each}}
            </script>
            <!--推荐阅读-->
            <script type="text/html" id="store_news_temp">
                {{each list as value}}
                <a href="/shop_2/mchnews.html?newsid={{value.NewsId}}&showheader={{showheader}}">
                    <dl class="mchConsult">
                        <dt>{{value.NewsTitle}}</dt>
                        <dd class="time"><span><i>&#xe9c9; </i>{{value.CheckTime | dateFormat:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i>&#xe9ca; </i>{{value.BrowseCount}}</span></dd>
                        <dd class="pic"><img src="{{value.NewsCover}},1,150,150,3" /></dd>
                    </dl>
                </a>
                {{/each}}
            </script>
            <!--店铺热卖-->
            <script type="text/html" id="hot_product_list_temp">
                {{each list}}
                <li>
                    <div class="list-item">
                        <a class="product_img_click" data-pid="{{$value.product_id}}&source=shop" data-no-cache="true">
                            <img class="products-pic lazy" data-original="{{$value.product_imgs | productImgs}}" alt="{{$value.product_name}}" />
                            <p class="prodect-name">{{$value.product_name}}</p>
                        </a>
                        <div class="row_bottom">
                            <span class="pull-left"><em>¥</em>{{$value.price | priceToFixed}}</span>
                            {{if $value.product_ispostage == true}}<span class="postage">包邮</span>{{/if}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </script>
        </div>

        <div id="page-shop-reward" class="page">
            <header class="bar bar-nav bar_ff8201">
                <a class="icon icon-left pull-left back"></a>
                <h1 class="title">打赏过的人</h1>
            </header>
            <div class="content">
                <div class="reward_list">
                    <div class="list infinite-scroll"></div>
                    <!-- 加载提示符 -->
                    <div class="infinite-scroll-preloader">
                        <div class="preloader">
                        </div>
                    </div>
                    <div class="content-block more_container">--------没有更多打赏的人了--------</div>
                </div>
            </div>
            <!--打赏竖排列表-->
            <script type="text/html" id="rewardInfo_list_temp">
                {{each list as value}}
                <a class="external" href="/homepage/index.html?uid={{value.UserId}}">
                    <dl>
                        <dt><img src="{{value.UserHeadPic | headPic}}" /></dt>
                        <dd><span>{{value.UserNikeName}}</span></dd>
                    </dl>
                </a>
                {{/each}}
            </script>
        </div>
    </div>
    <!--WL_TMP{tmp=/Skin/t/Pub/app_publicjs.html}-->
    <script src="/Skin/t/Js/sui/index.js?v=1"></script>
</body>
</html>
