<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--数据库信息-->
  <Database type="Iwenli.Data.DatabaseConfig">
    <ConnString>
      <IwenliMobile IfEncrypt="false">Server=bds260192675.my3w.com;Database=bds260192675_db;UID=bds260192675;Password=1qaz2wsx;</IwenliMobile>
      <TxoooBrandShop IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrandShop;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrandShop>
      <TxoooBrands IfEncrypt="false">Server=10.10.10.210;Database=TxoooBrands;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrands>
      <TxoooAgent IfEncrypt="false">Server=10.10.10.70;Database=Agent_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgent>
      <Agent_Outer_Test IfEncrypt="false">Server=10.10.10.72;Database=Agent_Outer_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</Agent_Outer_Test>
      <TxOtherAd IfEncrypt="false">Server=192.168.1.2;Database=TxOtherAd;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxOtherAd>
      <TxoooInternalService IfEncrypt="false">Server=10.10.10.42;Database=TxoooInternalService;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooInternalService>
      <TxoooCRM2013 IfEncrypt="false">Server=192.168.1.2;Database=TxoooCRM2013;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooCRM2013>
      <TxoooOffice IfEncrypt="false">Server=192.168.1.2;Database=TxoooOffice;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooOffice>
      <TxoooOperation IfEncrypt="false">Server=192.168.1.2;Database=TxoooOperation;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooOperation>
      <TxoooOfficeLog IfEncrypt="false">Server=192.168.1.2;Database=TxoooOfficeLog;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooOfficeLog>
      <TxoooOfficeCheck IfEncrypt="false">Server=192.168.1.2;Database=TxoooOfficeCheck;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooOfficeCheck>
      <TxoooRTXDBConn IfEncrypt="false">Server=192.168.1.2;Database=RtxDB;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooRTXDBConn>
      <KF53NEW Type="MySql"  IfEncrypt="false">server=172.16.0.3;User Id=tx_select_user;password=bgt5NHY^;Database=talk_gc</KF53NEW>
      <TxoooSEMOAHistory IfEncrypt="false">Server=10.10.10.41;Database=TxoooSEMOAHistory;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMOAHistory>
      <TxoooFinance IfEncrypt="false">Server=10.10.10.25;Database=TxoooFinance_2013;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooFinance>
      <TxoooFinance_2013 IfEncrypt="false">Server=10.10.10.25;Database=TxoooFinance_2013;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooFinance_2013>
      <TxoooEpc IfEncrypt="false">Server=10.10.10.70;Database=EPC_TAG;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooEpc>
      <TxoooNEx IfEncrypt="false">Server=10.10.10.28;Database=TxoooNEx;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooNEx>
      <TXCall IfEncrypt="false">Server=10.10.10.210;Database=TXCall;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TXCall>
      <TxoooIM IfEncrypt="false">Server=10.10.10.210;Database=TxoooIM;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooIM>
      <TxoooOpen IfEncrypt="false">Server=10.10.10.210;Database=TxoooOpen;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooOpen>
      <TxoooCloud IfEncrypt="false">Server=10.10.10.29;Database=TxoooCloud;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooCloud>
      <TxoooPassport IfEncrypt="false">Server=10.10.10.30;Database=TxoooPassport;UID=TxoooPassportWebUser;Password=TxoooPassportWeBUsErPswOrd;</TxoooPassport>
      <TxoooCMS IfEncrypt="true">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooCMS>
      <TxoooSEM IfEncrypt="false">Server=10.10.10.41;Database=TxoooSEM;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEM>
      <TxoooKPI IfEncrypt="false">Server=10.10.10.41;Database=TxoooKPI;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooKPI>
      <TxoooSEMNote IfEncrypt="false">Server=10.10.10.41;Database=TxoooSEMNote;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMNote>
      <TxoooEnterprise IfEncrypt="false">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooEnterprise>
      <TxoooSAAS IfEncrypt="false">Server=10.10.10.26;Database=TxoooSAAS;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSAAS>
      <IUP_DWLZC IfEncrypt="false">Server=10.10.10.212;Database=IUP_DWLZC;UID=SiteStakeout;PWD=Site!@#Stakeout$%^;</IUP_DWLZC>
      <ShowData IfEncrypt="false">Server=10.10.10.212;Database=ShowData;UID=SiteStakeout;PWD=Site!@#Stakeout$%^;</ShowData>
      <TxoooHotline IfEncrypt="false">Server=10.10.10.206;Database=TxoooHotline;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooHotline>
      <TxoooSEMHistory IfEncrypt="false">Server=10.10.10.41;Database=TxoooSEMHistory;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMHistory>
      <TxoooSEMStructure IfEncrypt="false">Server=10.10.10.41;Database=TxoooSEMStructure;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMStructure>
      <TxoooSEMReport IfEncrypt="false"> Server=10.10.10.41;Database=TxoooSEMReport;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMReport>
      <IUP_Day IfEncrypt="false"> Server=10.10.10.41;Database=IUP_Day;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</IUP_Day>
      <IUP IfEncrypt="false"> Server=10.10.10.41;Database=IUP;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</IUP>
      <TxoooSEMReportTemp IfEncrypt="false"> Server=10.10.10.41;Database=TxoooSEMReportTemp;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMReportTemp>
      <TxoooPassports IfEncrypt="false"> Server=10.10.10.10;Database=TxoooPassport;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooPassports>
      <TxoooMobile IfEncrypt="false">Server=10.10.10.31;Database=TxoooMobile;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooMobile>
      <TxoooUserLog IfEncrypt="false">Server=10.10.10.30;Database=TxoooUserLog;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooUserLog>
      <TxoooLY  IfEncrypt="false">Server=10.10.10.19;Database=TxoooLY;UID=TxoooLYWebUser;Password=TX)))LyWeBUsePassW)RD;</TxoooLY>
      <TxoooLYPingBi IfEncrypt="false">Server=10.10.10.41;Database=TxoooLY;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooLYPingBi>
      <TxoooTQMessage IfEncrypt="false">Server=10.10.10.40;Database=TQDialog;UID=TxoooTQDialogWebUserLogo;Password=TxoooTQDialogWebUser2013AmdPsw@)13;</TxoooTQMessage>
      <TxoooCRM IfEncrypt="false">Server=10.10.10.27;Database=TxoooCRM;UID=TxoooCRMWebUser;Password=TxoooCRMWebUser20!@;</TxoooCRM>
      <IUP_DW IfEncrypt="false">Server=10.10.10.212;Database=IUP_DW;UID=SiteStakeout;PWD=Site!@#Stakeout$%^;</IUP_DW>
      <Analytics_Reports IfEncrypt="false">Server=10.10.10.212;Database=Analytics_Reports;UID=SiteStakeout;PWD=Site!@#Stakeout$%^;</Analytics_Reports>
      <TxoooCMS08 IfEncrypt="false">Server=10.10.10.28;Database=TxoooCMS08;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooCMS08>
      <TxoooSiteMobileInfo IfEncrypt="false">Server=10.10.10.29;Database=TxoooSiteMobileInfo;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSiteMobileInfo>
      <TxoooBI IfEncrypt="false"> Server=10.10.10.41;Database=TxoooBI;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBI>
      <TxoooSEMKPI IfEncrypt="false"> Server=10.10.10.41;Database=TxoooSEMKPI;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMKPI>
      <TxoooSEMSearchReport IfEncrypt="false"> Server=10.10.10.41;Database=TxoooSEMSearchReport;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSEMSearchReport>
      <TXClue IfEncrypt="false">Server=10.10.10.28;Database=TXClue;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TXClue>
      <TXIVR IfEncrypt="false">Server=10.10.10.28;Database=TXIVR;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TXIVR>
      <TxoooQuan IfEncrypt="false">Server=10.10.10.28;Database=TxoooQuan;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooQuan>
      <TXEDM IfEncrypt="false">Server=10.10.10.25;Database=TXEDM;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TXEDM>
    </ConnString>
  </Database>
  <!--日志调试信息-->
  <log4net path="./Log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="wl.Config">
      <level value="ALL" />
      <appender-ref ref="Iwenli.Config.Appender" />
    </logger>
  </log4net>
</configuration>