<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--数据库信息-->
  <Database type="Iwenli.Data.DatabaseConfig">
    <ConnString>
      <IwenliMobile IfEncrypt="false">Server=bds260192675.my3w.com;Database=bds260192675_db;UID=bds260192675;Password=1qaz2wsx;</IwenliMobile>
      <TxoooBrandShop IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrandShop;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrandShop>
      <TxoooBrands IfEncrypt="false">Server=10.10.10.210;Database=TxoooBrands;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrands>
      <TxoooAgent IfEncrypt="false">Server=10.10.10.70;Database=Agent_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgent>
      <Agent_Outer_Test IfEncrypt="false">Server=10.10.10.72;Database=Agent_Outer_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</Agent_Outer_Test>
    </ConnString>
  </Database>
  <!--日志调试信息-->
  <log4net path="./Log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="wl.Config">
      <level value="ALL" />
      <appender-ref ref="Iwenli.Config.Appender" />
    </logger>
  </log4net>
</configuration>