<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SysSmsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://internalservice.txooo.com/SysSmsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SysSmsServiceSoap"
                contract="SysSmsService.SysSmsServiceSoap" name="SysSmsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>