body{ background:#fff; background-size:20rem auto;}
.box{ padding-top:0.5rem; padding-left:1.625rem; padding-right:1.625rem;}
.login_con{ width:100%;overflow:hidden;}
.login_con li{position:relative;overflow:hidden;height:2.5rem;line-height:2.5rem;border-bottom:1px solid #dedede; margin-top:1rem;}
.login_con li i{float:left; padding:0 0.5rem; color:#919090; font-size:0.875rem; }
.login_con li input{ border:none; color:#000; padding:0.5rem; width:13.375rem;}

.login_con li .yan{position:absolute; right:0rem;height:2.5rem;line-height:2.5rem; top:0; font-size:1.25rem;}
.login_con li .yan.show{color:#fb9856;}
.btn_box{ margin-top:1rem; border-bottom:0.25rem solid #fc6703; width:100%; height:2.8125rem;line-height:2.8125rem; background:#fd8100; text-align:center; font-size:1rem; border-radius:2.5rem;}
.btn_box a{display:block;}
.reg_box{ line-height:2.1875rem; height:2.1875rem; width:100%; text-align:center;}
.reg_box span{color:#dedede; padding:0 0.75rem;}
.reg_box a{color:#939393;}
.login_bottom{ width:15.625rem; margin:0.5rem auto; height:1.75rem;text-align:center;}
.login_bottom b{float:left; width:30%; background:#dedede; height:0.05rem; margin-top:0.825rem;}
.login_bottom span{float:left; width:40%; line-height:1.75rem;color:#939393; margin:0 auto;}
.login_list{ position:relative; left:50%; float:left; margin:0rem auto 0.75rem; height:2.25rem;text-align:center;line-height:2.25rem}
.login_list ul{position:relative; left:-50%; float:left;}
.login_list li{float:left; width:2.25rem; height:2.25rem;line-height:2.25rem; font-size:2.25rem; margin:0 1.75rem;}
.login_list li a{ width:100%; height:90%; }
.login_list li i{color:#51b341}
.login_list li .color_1{background:#f26868;}
.login_list li .color_2{background:#6ea8df;}
.login_list li .color_3{background:#85d16d;}
.login_con label.error{ position:absolute; right:2.25rem;top:0;height:2.5rem;line-height:2.5rem; left:initial; padding:0; width:auto;}
.login_bottom_box{ width:100%; overflow:hidden; padding-top:0.25rem;}







